@use 'modules/colors' as c;
@import 'modules/nav';
@import 'modules/scrollbar';
@import 'modules/header';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat' sans-serif;
	color: c.$white;
}

button {
	font-family: 'Montserrat' sans-serif;
}

.test {
	height: 100vh;
	background-color: c.$bg-color;
}




